#{extends 'main.html' /}
#{set title:'Home' /}
<form action="/SprintBacklog/show" method="GET" id="frmMain" name="frmMain">
    Sprint
    <select name="selectedSprint" onchange="$('#frmMain').submit()">
        #{list items:sprints, as:'sprint'}
            <option value="${sprint}" #{if selectedSprint == sprint}selected#{/if}> ${sprint}</option>
        #{/list}

    </select>

    Team
    <select name="selectedTeam" onchange="$('#frmMain').submit()">
        <option value=""> All</option>
        #{list items:teams, as:'team'}
            <option value="${team}" #{if selectedTeam == team}selected#{/if}> ${team}</option>
        #{/list}

    </select>
</form>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
                <th>Sprint</th>
                <th>Category</th>
                <th>Business Jira</th>
                <th>IT Jira</th>
                <th>Description</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Assignee</th>
                <th>Team</th>
                <th>Estimate</th>
                <th>Actual</th>
                <th>Remaining</th>
        </tr>
    </thead>
    <tbody>
        #{list items:jiraDetails, as:'jiraDetail'}
            <tr>
                <td>${jiraDetail.sprint}</td>
                <td>${jiraDetail.category}</td>
                <td>${jiraDetail.businessJira}</td>
                <td>${jiraDetail.itJira}</td>
                <td>${jiraDetail.description}</td>
                <td>${jiraDetail.priority}</td>
                <td nowrap><span class="${jiraDetail.cssColor}" >${jiraDetail.status}</span></td>
                <td>${jiraDetail.assignee}</td>
                <td>${jiraDetail.team}</td>
                <td>${jiraDetail.estimate}</td>
                <td>${jiraDetail.actual}</td>
                <td>${jiraDetail.remaining}</td>
            </tr>
        #{/list}

    </tbody>
</table>