#{extends 'main.html' /}
#{set title:'Home' /}

<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#SprintbacklogIT" data-toggle="tab">Sprintbacklog (IT)</a></li>
        <li><a href="#SprintbacklogBA" data-toggle="tab">Sprintbacklog (BA)</a></li>
        <li><a href="#Burndown" data-toggle="tab">Burndown</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="SprintbacklogIT">
            <form action="/SprintBacklogPlus/show" method="GET" id="frmMain" name="frmMain">
                Sprint
                <select name="selectedSprint.id" onchange="$('#frmMain').submit()">
                    #{list items:sprints, as:'sprint'}
                    <option value="${sprint.id}"
                    #{if selectedSprint == sprint}selected#{/if}> ${sprint.sprintName}</option>
                    #{/list}
                </select>

                Team
                <select name="selectedTeam" onchange="$('#frmMain').submit()">
                    <option value=""> All</option>
                    #{list items:teams, as:'team'}
                    <option value="${team}"
                    #{if selectedTeam == team}selected#{/if}> ${team}</option>
                    #{/list}

                </select>
            </form>



    <table>
    <tr>
    <td><div class="progress progress-success progress-striped" style="width: 60px;"><div class="bar" style="width: 100%;" >Day 1</div></div></td>
    <td><div class="progress progress-warning progress-striped" style="width: 60px;"><div class="bar" style="width: 70%;" >Day 2</div></div></td>
    <td><div class="progress progress-danger progress-striped" style="width: 60px;"><div class="bar" style="width: 100%;" >Day 3</div></div></td>
    </tr>
        </table>

<button class="btn btn-success" href="#">Day 1</button>
<button class="btn btn-warning" href="#">Day 2 (4 Hrs)</button>
<button class="btn btn-danger" href="#">Day 3</button>
            <p>Total Remaining: ${totalRemainingInDays} day(s)</p>
            <table class="table table-striped table-bordered tablesorter" id="tableJiraList">
                <thead>
                <tr>
                    <th>Category</th>
                    <th>Business Jira</th>
                    <th>IT Jira</th>
                    <th>Description</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Assignee</th>
                    <th>Team</th>
                    <th>Estimate</th>
                    <th>Actual</th>
                    <th>Remaining</th>
                </tr>
                </thead>
                <tbody>
                #{list items:sprintJiras, as:'jira'}
                <tr>
                    <td><span class="${jira.jiraDetail.cssClassByCategory}">${jira.jiraCategory}</span></td>
                    <td>
                        #{if jiraDetail?.counterpartJira}
                            #{if jira.jiraDetail.counterpartJira?.jiraNumber}
                                #{if jira.jiraDetail.counterpartJira?.parentJira}
                                    #{if jira.jiraDetail.counterpartJira.parentJira?.jiraNumber}
                            <a href="http://jira.london.echonet/browse/${jira.jiraDetail.counterpartJira.jiraNumber}" data-content="${jira.jiraDetail.counterpartJira.description}" class="jiraLink">${jira.jiraDetail.counterpartJira.jiraNumber}</a><br>&nbsp;&nbsp;
                                    #{/if}
                                #{/if}
                            #{/if}
                        #{/if}
                        #{if jiraDetail?.counterpartJira}
                            #{if jira.jiraDetail.counterpartJira?.jiraNumber}
                                <a href="http://jira.london.echonet/browse/${jira.jiraDetail.counterpartJira.jiraNumber}" title="${jira.jiraDetail.counterpartJira.jiraNumber}" data-content="${jira.jiraDetail.counterpartJira.description}" class="jiraLink">${jira.jiraDetail.counterpartJira.jiraNumber}</a>
                            #{/if}
                        #{/if}
                    </td>
                    <td>
                        #{if jiraDetail?.parentJira}
                            <a href="http://jira.london.echonet/browse/${jira.jiraDetail.parentJira.jiraNumber}" data-content="${jira.jiraDetail.parentJira.description}" class="jiraLink">${jira.jiraDetail.parentJira.jiraNumber}</a><br>&nbsp;&nbsp;
                        #{/if}
                        <a href="http://jira.london.echonet/browse/${jira.jiraDetail.jiraNumber}">${jira.jiraDetail.jiraNumber}</a>
                    </td>
                    <td>${jira.jiraDetail.description}</td>
                    <td>${jira.jiraDetail.priority}</td>
                    <td nowrap><span class="${jira.jiraDetail.cssClassByStatus}">${jira.jiraDetail.status}</span></td>
                    <td>${jira.jiraDetail.assignee}</td>
                    <td>${jira.jiraDetail.team}</td>
                    <td>${jira.sprintEstimate}</td>
                    <td>
                        ${jira.actual}
                        &nbsp;&nbsp;&nbsp;<a class="btn btn-mini btn-primary" data-toggle="modal" href="#addActualModal"><i class="icon-plus icon-white"></i> Add</a>
                    </td>
                    <td>
                        ${jira.remaining}
                        &nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-mini btn-primary"><i class="icon-pencil icon-white"></i> Set</a>
                    </td>
                </tr>
                #{/list}

                </tbody>
            </table>

            <div class="modal hide" id="addActualModal">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>

                    <h3>Add actuals</h3>
                </div>
                <div class="modal-body">
                    <p>Kunal: 1 Day</p>
                    <p>Pranav: 2.5 Day</p>
                    <p>
                    <select>
                        <option>Day 1</option>
                        <option>Day 2</option>
                        <option>Day 3</option>
                        <option>Day 4</option>
                        <option>Day 5</option>
                        <option>Day 6</option>
                        <option>Day 7</option>
                        <option>Day 8</option>
                        <option>Day 9</option>
                        <option>Day 10</option>
                    </select>
                    Time<select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                    </select>
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn"  data-dismiss="modal">Close</a>
                    <a href="#" class="btn btn-primary">Save</a>
                </div>
            </div>

            <script type="text/javascript">
                $(document).ready(function()
                    {
                        $("#tableJiraList").tablesorter();
                        $("#SprintBacklogPlus").addClass("active");

                    }
                );
            </script>
        </div>
        <div class="tab-pane" id="SprintbacklogBA">
            <p>Yet to come.</p>
        </div>
        <div class="tab-pane" id="Burndown">
            <p>Yet to come.</p>
        </div>
    </div>
</div>
<script type="text/javascript">
    $().ready(function () {
        $("a.jiraLink").popover({});;

    });

</script>
